.office img {
    width: 100%;
}

.activity {
    background: #FFFFFF;
}

.activity-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 16px;
    list-style: disc;
    margin-top: 24px;
}

.activity-list a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-family: var(--title-font);
}

.diferential-content {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    align-items: start;
    justify-content: center
}

.diferential-content img {
    width: 100%;
}

.diferential-content ul {
    list-style: none;
    padding-left: 0;
}

.diferential-content h3 {
    color: var(--primary-color);
    font-size: 20px;

}

.publication {
    background: #FFFFFF;
}

.publication-cards {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.card-body {
    padding-top: 0;
}

.card-links {
    display: flex;
    justify-content: space-between;
}

.card-links a {
    color: var(--primary-color);
}

.publication-page {
    display: block;
    text-align: right;
    color: var(--primary-color);
    text-decoration: none;
}

.team-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.team-content a {
    text-decoration: none;
    color: var(--text-dark);
}

.team-content img {
    width: 298px;
}

.team-content h3 {
    font-family: var(--title-font);
    color: var(--primary-color);
    font-size: 20px;
}

.team-content h4 {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
}

.contact {
    background: #FFFFFF;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-container h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 32px;
}

.contact-info p {
    margin: 20px 0 4px
}

.contact-info a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
}

#form {
    background: var(--tertiary-color);
    color: var(--light-color);
    padding: 0 8px;
    border-radius: 6px;
}

#form label {
    display: block;
    margin-top: 20px;
}

#form textarea {
    resize: none;
}

#form button {
    display: block;
    text-align: end;
    margin: 16px 0 8px auto;
    color: var(--light-color);
    border: 1px solid var(--light-color);
    border-radius: 4px;
    padding: 6px 20px;
    background: transparent;
}

@media screen and (min-width:992px) {
    .office-content {
        display: flex;
        align-items: start;
        gap: 24px;
    }

    .office img {
        width: 36%;
    }

    .activity-list li:hover,
    .activity-list li a:hover {
        color: var(--secondary-color);
    }

    .diferential-content {
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content: center
    }

    .diferential-content img {
        width: 36%;
    }

    .diferential-content ul {
        margin-bottom: 0;
    }

    .publication-cards {
        flex-direction: row;
        justify-content: center;
    }

    .publication a:hover {
        color: var(--secondary-color);
    }

    .team-content {
        flex-direction: row;
        justify-content: center;
    }

    .team-content div {
        max-width: 320px;
    }

    .contact-container {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    .contact-container form {
        width: 153%;
    }

    #form input:focus,
    #form textarea:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 2px solid var(--secondary-color);

    }

    #form button:hover {
        background: var(--secondary-color);
        color: var(--primary-color);
        border: 1px solid var(--primary-color);

    }


}